
#ir-toolbar{
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  background-color: #606060;
  color: white;
  font-family: Verdana, 'sans-serif';
  z-index: 9998;
}

#ir-toolbar .content {
  padding: 5px;
  margin: 0;
}

#ir-toolbar .button {
  cursor: pointer;
  background: #E0E0E0;
  color: black;
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 5px;
  display: inline-block;
}

#ir-toolbar-form,
#ir-toolbar-actions {
  display: none;
}

#ir-toolbar-form.active,
#ir-toolbar-actions.active {
  display: block;
}

#ir-toolbar-comment {
  width: 500px;
  display: block;
}
