#ir-toolbar-admin{
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  background-color: #606060;
  color: white;
  font-family: Verdana, 'sans-serif';
  z-index: 9999;
}

#ir-toolbar-admin .content {
  padding: 5px;
  margin: 0;
}

#ir-toolbar-admin .button {
  cursor: pointer;
  background: #E0E0E0;
  color: black;
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 5px;
  display: none;
}

#ir-toolbar-admin .button.active {
  display: inline-block;
}

#ir-toolbar-admin-form.active,
#ir-toolbar-admin-actions.active {
  display: block;
}

body.show-issues .has-issue {
  outline: 1px solid red;
}

#ir-toolbar-admin-message > .content {
  display: none;
  max-width: 500px;
}

#ir-toolbar-admin-message > .content.active {
  display: block;
}
